.sideSlid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border: 2px solid #ccc;
  border-radius: 1rem;
  position: absolute;
  width: 32%;
  top: 0;
  bottom: 0;
  left: 0;
}
.flexdis {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  padding: 1.2rem;
  border-bottom: 2px solid #ccc;
  width: 100%;
}
.flexdis:last-child {
  border-bottom: 0;
}
.flexdis > div {
  margin-right: 10px;
  padding-right: 0.4rem;
}
.flexdis > div p {
  text-align: right;
  padding: 0.3rem;
}
.grey-s {
  color: gray;
  font-size: small;
}
