.mid-slider {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  margin: auto;
}

/* .slider-caption { */
/*   display: flex; */
/*   position: absolute; */
/*   width: 20%; */
/*   bottom: 0; */
/*   flex-direction: row; */
/*   justify-content: space-between; */
/*   color: white; */
/*   font-weight: 900; */
/*   background-color: grey; */
/*   opacity: 0.5; */
/*   border-top: 2px solid #777; */
/* } */

/* .caption { */
/*   padding: 1rem 0; */
/*   border-left: 2px solid #777; */
/*   width: 100%; */
/* } */
/**/
/* .currentCaption { */
/*   color: #000; */
/* } */
